%table.table.table-bordered
	%tr
		%td
			%h1{:align => "left"}
				Volunteers
		%td.col-md-6
			= link_to "Volunteers Home", volunteers_path, class:'btn btn-primary col-md-6'

			= link_to "New Volunteer", new_volunteer_path, class:'btn btn-primary col-md-6'
		
			= link_to "Edit Volunteers", modify_volunteers_path, class:'btn btn-primary col-md-6'
