%tr.fields
	= f.link_to_remove "X"
	= f.input :name, label: "Emergency Contact Name"
	= f.input :phone, label: "Emergency Contact Phone Number"
	= f.input :relationship, label: "Emergency Contact Relationship"